@font-face {
  font-family: 'Tilda Sans';
  src: url('../fonts/TildaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Tilda Sans';
  font-weight: 400;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

:root {
  --color-grey: #818181;
  --color-light-grey: #b8b8b8;
  --color-yellow: #ffcc00;
  --color-light-yellow: #ffdb4d;
}

h2 {
  font-size: 48px;
  margin: 7px 18px;
}

/* MAIN */

.main {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.change,
.change__block-title {
  display: flex;
  align-items: center;
}

.change__block-title h2 {
  position: relative;
}

.logo {
  max-width: 250px;
}

.logo__img {
  width: 100%;
}

.change__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 130px;
  margin: 80px 0;
  transition: all .6s ease;
  text-decoration: none;
  color: #000;
}

.change__block:hover .change__block-img {
  transform: scale(1.04);
}

.change__block:hover .change__block-arrow {
  background-color: var(--color-light-yellow);
}

.change__block:active .change__block-arrow {
  background-color: #000;
}

.change__block:nth-child(1) {
  border-right: 2px solid #cccccc;
}

.change__block-img {
  border-radius: 50%;
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
  transition: all .4s ease;
}

.change__block-arrow {
  width: 45px;
  height: 45px;
  top: 7px;
  padding: 5px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  left: 0;
  display: block;
  border-radius: 2px;
  transition: all .2s ease;
}

.arrow:before {
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 13px;
  height: 3px;
  top: 3.5px;
  right: -2px;
  background-color: #000;
  transform: rotate(-45deg);
  transition: all .2s ease;
}

.arrow:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 3px;
  top: -3.5px;
  right: -2px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  transition: all .2s ease;
}

.change__block:active .arrow,
.change__block:active .arrow:before,
.change__block:active .arrow:after {
  background-color: var(--color-yellow);
}


.change__block-address {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey);
  margin: 0;
}

.copyright {
  color: var(--color-light-grey);
  font-size: 12px;
  line-height: 14.4px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

@media (max-width:992px) {
  .change__block {
    padding: 0 80px;
  }
}

@media (max-width:800px) {
  .change__block {
    padding: 0 50px;
  }
}

@media (max-width:768px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width:577px) {
  h2 {
    font-size: 24px;
    margin: 7px 10px;
  }

  .change__block {
    padding: 0 20px;
  }

  .change__block-arrow {
    width: 30px;
  }
}

@media (max-width:420px) {
  h2 {
    font-size: 22px;
  }

  .change__block {
    padding: 0 12px;
  }

  .change__block-address {
    font-size: 10px;
  }

  .change__block-arrow {
    width: 25px;
  }
}